.country-info-list {
  display: flex;
  gap: 14.1rem;
}

.country-info-list li {
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.description {
  font-weight: 600;
}

.border-countries {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 7rem;
}

.border-countries > h2 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
}

.border-countries > div {
  display: flex;
  gap: 1rem;
}

.border-countries p {
  margin-right: 1rem;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.91rem;
  width: 9.6rem;
  box-shadow: 0px 0px 4px 1px #0000001b;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 4px;
}

.dark-mode .border-countries p {
  background-color: #2b3844;
  color: white;
}

.dark-mode .border-countries h2 {
  color: white;
}
