.country-navigation {
  padding: 0 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  position: relative;
}

.country-navigation > input {
  border: none;
  padding: 1.5rem 16rem 1.5rem 2rem;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  outline: none;
  align-self: flex-start;
  border-radius: 10px;
}

.filter-container {
  position: relative;
  padding: 1.5rem 2rem 1.5rem 2rem;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.filter {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #111517;
  background-color: transparent;
  cursor: pointer;
}

.clear-btn {
  background-color: transparent;
  position: absolute;
  left: 38rem;
  cursor: pointer;
  font-weight: 800;
  font-size: 1.5rem;
  padding: 1rem 0;
  color: gray;
}

.dark-mode .country-navigation > input,
.dark-mode .filter-container {
  background-color: #2b3844;
  color: white;
}

.dark-mode .country-navigation > input::placeholder,
.dark-mode .clear-btn,
.dark-mode .filter {
  color: white;
}

.dark-mode .filter-container svg {
  fill: white;
}

@media screen and (max-width: 41.125rem) {
  .country-navigation {
    flex-direction: column;
    gap: 5rem;
    align-items: start;
  }

  .country-navigation {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 41.1875rem) {
  .clear-btn {
    left: 33rem;
  }
}
