.back-container {
  background-color: hsl(0, 0%, 98%);
  width: 13.6rem;
  margin-bottom: 8rem;
}

.btn-back {
  width: 100%;
  border-radius: 6px;
  text-align: center;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2rem;
  cursor: pointer;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: white;
}

.btn-back > img {
  width: 1.3rem;
}

.country-page {
  margin-left: 8rem;
}

.flag-container {
  display: flex;
  align-items: center;
  gap: 12rem;
}

.flag-container > img {
  width: 56rem;
  height: 40rem;
}

.flag-container > div > h2 {
  margin-bottom: 2.3rem;
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 4.365rem;
}

.dark-mode .btn-back {
  background-color: #2b3844;
  color: white;
}

.dark-mode .back-container {
  border-radius: 6px;
  background-color: #2b3844;
}

.dark-mode .back-container > div {
  background-color: #2b3844;
}

.dark-mode .back-container svg {
  fill: white;
}

.dark-mode .flag-container {
  color: white;
}

.dark-mode .flag-container > div > h2 {
  color: white;
}
