.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 8rem;
  background-color: white;
  margin-bottom: 5rem;
}

h1 {
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 3.274rem;
  color: #111517;
}

.switch-mode {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.182rem;
  color: #111517;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Nunito Sans", sans-serif;
}

.dark-mode .top-header {
  background-color: hsl(209, 23%, 22%);
  color: white;
}

.dark-mode .top-header h1,
.dark-mode .top-header button {
  color: white;
}
