.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 8rem;
  background-color: white;
  margin-bottom: 5rem;
  box-shadow: 5px -1px 11px -6px #888888;
}

h1 {
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 3.274rem;
  color: #111517;
}

.switch-mode {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.182rem;
  color: #111517;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.dark-mode .top-header {
  background-color: hsl(209, 23%, 22%);
  color: white;
}

.dark-mode .top-header h1,
.dark-mode .top-header button {
  color: white;
}

.hide-moon,
.hide-sun {
  display: none;
}

@keyframes showMoon {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.appear-moon,
.appear-sun {
  animation: showMoon 0.2s ease-in-out;
}
