.countries-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 3rem;
}

.countries-container img {
  width: 264px;
  height: 183px;
}

li {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.6rem;
  list-style-type: none;
}

footer {
  margin: 5rem auto;
}

.footer-navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

li button {
  font-family: "Nunito Sans", sans-serif;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.footer-navigation ul li {
  background-color: skyblue;
  padding: 1rem;
  border: 1px solid gray;
  cursor: pointer;
}

.footer-navigation ul li:hover,
.footer-navigation ul li:active {
  background-color: rgb(99, 151, 172);
}

.onPage.active {
  background-color: rgb(99, 151, 172);
}

@media screen and (max-width: 72.1875rem) {
  .countries-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 54.375rem) {
  .countries-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

@media screen and (max-width: 34rem) {
  .countries-container {
    grid-template-columns: 1fr;
  }

  .countries-container img {
    width: 330px;
    height: 198px;
  }
}
