@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

body.dark-mode {
  background-color: hsl(207, 26%, 17%) !important;
}

a {
  all: unset;
}

li {
  list-style-type: none;
}
